.datepicker-date-display {
    background-color: rgb(0, 0, 0);
}

.datepicker-cancel, .datepicker-clear, 
.datepicker-today, .datepicker-done {
    color: black;
}

button.datepicker-day-button {
    color: #000000;
}

.timepicker-time-display {
    background-color: rgb(0, 0, 0);
}

.timepicker-cancel, .timepicker-clear, 
.timepicker-today, .timepicker-done {
    color: rgb(0, 0, 0);
}

button.timepicker-day-button {
    color: #000000;
}

.tabs .indicator {
    background-color: rgb(0, 0, 0);
}

.buttons .indicator {
    background-color: rgb(0, 0, 0);
}